Repository CST-Group/MECA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rgudwin, @eduardofroes, @andre-paraense

.github/CODEOWNERS:

* @rgudwin

/src/main/java/br/unicamp/meca/memory/ @eduardofroes

/src/main/java/br/unicamp/meca/mind/ @andre-paraense

/src/main/java/br/unicamp/meca/models/ @andre-paraense

/src/main/java/br/unicamp/meca/system1/codelets/ @andre-paraense @eduardofroes

/src/main/java/br/unicamp/meca/system2/codelets/ @andre-paraense @eduardofroes

Generalizing the SoarCodelet as a PlanningCodelet
  README.md
  build.gradle
  src/main/java/br/unicamp/meca/mind/MecaMind.java
  src/main/java/br/unicamp/meca/system1/codelets/ActivityCodelet.java
  src/main/java/br/unicamp/meca/system1/codelets/BehaviorCodelet.java
  src/main/java/br/unicamp/meca/system2/codelets/IPlanningCodelet.java
  src/main/java/br/unicamp/meca/system2/codelets/SoarCodelet.java
Owners: @rgudwin, @andre-paraense, @eduardofroes

Add planning codelet in tests
  src/main/java/br/unicamp/meca/mind/MecaMind.java
  src/test/java/br/unicamp/meca/mind/MecaMindTest.java
  src/test/java/br/unicamp/meca/mind/planning/TestSoarCodelet.java
Owners: @andre-paraense, @rgudwin

Merged changes from SoarCodelet to IPlanningCodelet
  build.gradle
Owners: @rgudwin

Small corrections
  src/main/java/br/unicamp/meca/mind/MecaMind.java
Owners: @andre-paraense

Changes for the day
  build.gradle
  src/main/java/br/unicamp/meca/mind/MecaMind.java
  src/main/java/br/unicamp/meca/system2/codelets/GoalCodelet.java
Owners: @rgudwin, @andre-paraense, @eduardofroes

Corrections after changes from AbstractObject to Idea in many points
  build.gradle
  gradle.properties
  src/main/java/br/unicamp/meca/memory/WorkingMemory.java
  src/main/java/br/unicamp/meca/mind/MecaMind.java
  src/main/java/br/unicamp/meca/system1/codelets/AttentionCodelet.java
  src/main/java/br/unicamp/meca/system2/codelets/GoalCodelet.java
  src/main/java/br/unicamp/meca/system2/codelets/SoarCodelet.java
Owners: @rgudwin, @eduardofroes, @andre-paraense

many corrections to make it compatible with new CST
  build.gradle
  src/main/java/br/unicamp/meca/memory/WorkingMemory.java
  src/main/java/br/unicamp/meca/mind/MecaMind.java
  src/main/java/br/unicamp/meca/system2/codelets/SoarCodelet.java
Owners: @rgudwin, @eduardofroes, @andre-paraense

trying to make jitpack work
  build.gradle
Owners: @rgudwin

trying to make jitpack work
  build.gradle
Owners: @rgudwin

trying to make jitpack work
  build.gradle
Owners: @rgudwin

Changes to make ortools to work
  build.gradle
  src/main/java/br/unicamp/meca/mind/MecaMind.java
Owners: @rgudwin, @andre-paraense

Changes to make jitpack to work
  build.gradle
Owners: @rgudwin

Changes to make jitpack to work
  build.gradle
Owners: @rgudwin

Mounting an eventual ConsciousnessCodelet
  src/main/java/br/unicamp/meca/mind/MecaMind.java
Owners: @andre-paraense

Changes in the Idea registration mechanism in order to make its internal lists thread safe
  build.gradle
Owners: @rgudwin

Changes in ActionSequencePlan to solve a bug when the currentActionIndex is invalid
  src/main/java/br/unicamp/meca/models/ActionSequencePlan.java
Owners: @andre-paraense

Commented lines on the Idea class to avoid too many messages
  build.gradle
Owners: @rgudwin

Created RosTopicOneShotPublisherCodelet in order to generate a ROS topic which is published only once (when changes are available)
  build.gradle
Owners: @rgudwin

Created RosTopicOneShotPublisherMotorCodelet in order to generate a ROS topic which is published only once (when changes are available)
  src/main/java/br/unicamp/meca/system1/codelets/RosTopicOneShotPublisherMotorCodelet.java
Owners: @andre-paraense, @eduardofroes

Created RosTopicOneShotPublisherMotorCodelet in order to generate a ROS topic which is published only once (when changes are available)
  build.gradle
Owners: @rgudwin

Created RosTopicOneShotPublisherMotorCodelet in order to generate a ROS topic which is published only once (when changes are available)
  build.gradle
Owners: @rgudwin

Created RosTopicOneShotPublisherMotorCodelet in order to generate a ROS topic which is published only once (when changes are available)
  build.gradle
Owners: @rgudwin

Many adaptations for P3DX
  build.gradle
Owners: @rgudwin

Change in the name of ActionSequencePlanRequestMemoryContainer, to differentiate from the ActionSequencePlanMemoryContainer
  src/main/java/br/unicamp/meca/system1/codelets/BehaviorCodelet.java
Owners: @andre-paraense, @eduardofroes

Moved to CST 0.7.0, now using the Idea object as representation.
  README.md
  build.gradle
Owners: @rgudwin

Create java-ci.yml
  .github/workflows/java-ci.yml
Owners: @rgudwin

Update README.md
  README.md
Owners: @rgudwin

Upgrading to cst-desktop 1.1.0
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/br/unicamp/meca/mind/MecaMind.java
  src/main/java/br/unicamp/meca/system1/codelets/AttentionCodelet.java
  src/main/java/br/unicamp/meca/system2/codelets/GoalCodelet.java
  src/main/java/br/unicamp/meca/system2/codelets/SoarCodelet.java
  src/test/java/br/unicamp/meca/mind/MecaMindTest.java
Owners: @rgudwin, @andre-paraense, @eduardofroes

Fixing README.md
  README.md
  build.gradle
Owners: @rgudwin

Update java-ci.yml
  .github/workflows/java-ci.yml
Owners: @rgudwin

Updating to gradle 8.14.3
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Owners: @rgudwin

Update java-ci.yml
  .github/workflows/java-ci.yml
Owners: @rgudwin

Update .travis.yml
  .travis.yml
Owners: @rgudwin

Update java-ci.yml
  .github/workflows/java-ci.yml
Owners: @rgudwin

Updating wrapper
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Owners: @rgudwin

inserting sleep before using ROSCore
  src/test/java/br/unicamp/meca/system1/codelets/rosservice/RosServiceClientTest.java
  src/test/java/br/unicamp/meca/system1/codelets/rostopic/RosTopicPublisherSubscriberTest.java
Owners: @rgudwin

Update java-ci.yml
  .github/workflows/java-ci.yml
Owners: @rgudwin

Trying to solve a Thread bug ... still with problems
  build.gradle
  src/main/java/br/unicamp/meca/mind/MecaMind.java
  src/main/java/br/unicamp/meca/system1/codelets/MotorCodelet.java
  src/test/java/br/unicamp/meca/system1/codelets/rosservice/AddTwoIntServiceClient.java
  src/test/java/br/unicamp/meca/system1/codelets/rosservice/RosServiceClientTest.java
Owners: @rgudwin, @andre-paraense, @eduardofroes

Solving the Thread problem ... which was instead a Container problem
  build.gradle
  src/test/java/br/unicamp/meca/system1/codelets/rosservice/AddTwoIntServiceClient.java
  src/test/java/br/unicamp/meca/system1/codelets/rosservice/RosServiceClientTest.java
Owners: @rgudwin

meca - ROS2 - to be fixed
  build.gradle
  settings.gradle
  src/main/java/br/unicamp/meca/system1/codelets/Ros2ServiceClientMotorCodelet.java
  src/main/java/br/unicamp/meca/system1/codelets/Ros2TopicOneShotPublisherMotorCodelet.java
  src/main/java/br/unicamp/meca/system1/codelets/Ros2TopicPublisherMotorCodelet.java
  src/main/java/br/unicamp/meca/system1/codelets/Ros2TopicSubscriberSensoryCodelet.java
  src/test/java/br/unicamp/meca/system1/codelets/rosservice/AddTwoIntsServiceClientSyncRos2.java
  src/test/java/br/unicamp/meca/system1/codelets/rosservice/AddTwoIntsServiceProvider.java
  src/test/java/br/unicamp/meca/system1/codelets/rosservice/ROS2_AddTwoIntService.java
  src/test/java/br/unicamp/meca/system1/codelets/rosservice/ROS2_AddTwoIntServiceClient.java
  src/test/java/br/unicamp/meca/system1/codelets/rosservice/ROS2_RosServiceClientTest.java
  src/test/java/br/unicamp/meca/system1/codelets/rostopic/ROS2_ChatterTopicPublisher.java
  src/test/java/br/unicamp/meca/system1/codelets/rostopic/ROS2_ChatterTopicSubscriber.java
  src/test/java/br/unicamp/meca/system1/codelets/rostopic/ROS2_RosTopicPublisherSubscriberTest.java
  src/test/java/troca_ros/AddTwoIntsRequestMessage.java
  src/test/java/troca_ros/AddTwoIntsResponseMessage.java
  src/test/java/troca_ros/AddTwoIntsServiceDefinition.java
Owners: @rgudwin, @andre-paraense, @eduardofroes
